%li.member
  .row{ id: "member#{user.id}" }
    .large-2.columns
      .avatar= image_tag(user.avatar.profile)

    .large-10.columns
      %h3.name
        %span= user.name
        - if user.email_visible?
          %small.email
            = mail_to user.email, nil, encode: :javascript do
              %i.fa.fa-envelope
              %span Send Email
        %small.joined_at
          Member since #{user.created_at.to_date.to_s(:long)}

      - if user.current_job.present?
        %h4.job= user.current_job

      %ul.social-networks
        - if user.website_url.present?
          %li
            %span.website
              = link_to user.website_url, target: '_blank' do
                %i.fa.fa-link
                %span= simple_website_link(user.website_url)
        - if user.twitter_url.present?
          %li
            %span.twitter-url
              = link_to user.twitter_url, target: '_blank' do
                %i.fa.fa-twitter
                %span= "@#{user.twitter_handle.gsub('@','')}"
        - if user.linkedin_url.present?
          %li
            %span.linkedin-url
              = link_to user.linkedin_url, target: '_blank' do
                %i.fa.fa-linkedin
                %span= simple_linkedin_link(user.linkedin_url)
        - if user.github_url.present?
          %li
            %span.github-url
              = link_to user.github_url, target: '_blank' do
                %i.fa.fa-github
                %span= simple_website_link(user.github_url)

      %p.bio
        - if user.bio.present?
          = sanitize(user.bio)
        - else
          %em No bio provided.
