= content_for :subheader do
  .row.subheader
    .large-4.columns
      %h2
        %i.fa.fa-users
        %span Our Members
    .large-8.columns
      .search-tool
        = simple_form_for :search, url: users_path, method: :get do |f|
          %input.button{ name: "commit", type: "submit", value: "Search" }
          %input.string.search.required#search_search{ name: "search", placeholder: "Search by name or email...", type: "search", value: params[:search] }

.container

  .row
    .large-12.columns
      .paginator= paginate @users

  .row
    .large-12.columns
      %ol.members-list#pageless-members
        = render @users

= pageless(@users.total_pages, users_path, '#pageless-members')
