= content_for :subheader do
  .row.subheader
    .large-4.columns
      %h2
        %i.fa.fa-users
        %span Our Members
    .large-8.columns
      = render 'users/search'

.container

  .row
    .large-12.columns
      .paginator= paginate @users

  .row
    .large-12.columns
      %ol.members-list#pageless-members
        = render @users

= pageless(@users.total_pages, users_path, '#pageless-members')
