= content_for :subheader do
  .row.subheader
    .large-4.columns
      %h2
        %i.fa.fa-users
        %span Our Members
        %small= number_with_delimiter(@members_count)
    .large-8.columns
      = render 'users/search'

.container

  .row
    .large-12.columns
      .paginator= paginate @users

  .row
    .large-12.columns
      %ol.members-list#pageless-members
        - if @users.empty?
          %li.member
            .row
              .large-12.columns
                %p No members found.
        - else
          - if params[:search]
            .row.search-results
              .large-12.columns
                %span
                  Found #{number_with_delimiter(@users.total_count)} #{"member".pluralize(@users.total_count)} matching
                  %strong #{params[:search]}
          = render @users

= pageless(@users.total_pages, users_path, '#pageless-members')
